button,
fieldset,
input,
input::file-selector-button,
legend,
select,
textarea {
	appearance: none;
	background-color: transparent;
	border: none;
}

button,
input,
input::file-selector-button,
select,
textarea {
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	font-size: 1.25rem;
	padding: 0.5rem 0.75rem;
}

@media (prefers-color-scheme: dark) {

	button,
	input,
	input::file-selector-button,
	select,
	textarea {
		color: white;
	}
}

@media (prefers-color-scheme: light) {

	button,
	input,
	input::file-selector-button,
	select,
	textarea {
		color: black;
	}
}

button,
input[type="button"],
input[type="file"]::file-selector-button {
	border: none;
	cursor: pointer;
	padding: 0.75rem 1.25rem;
}

@media (prefers-color-scheme: dark) {

	button,
	input[type="button"],
	input[type="file"]::file-selector-button {
		background-color: #4cc2ff;
		color: black;
	}
}

@media (prefers-color-scheme: light) {

	button,
	input[type="button"],
	input[type="file"]::file-selector-button {
		background-color: #0067c0;
		color: white;
	}
}

input[type="text"]:focus,
select:focus,
textarea:focus {
	outline: none;
}

@media (prefers-color-scheme: dark) {

	input[type="text"]:focus,
	select:focus,
	textarea:focus {
		box-shadow: 0 0 0 4px #4cc2ff;
	}
}

@media (prefers-color-scheme: light) {

	input[type="text"]:focus,
	select:focus,
	textarea:focus {
		box-shadow: 0 0 0 4px #0067c0;
	}
}

button:hover,
input[type="button"]:hover,
input[type="file"]::file-selector-button:hover {
	filter: opacity(90%);
}

button:active,
input[type="button"]:active,
input[type="file"]::file-selector-button:active {
	filter: opacity(70%);
}

button {
	width: 100%;
}

input[type="file"] {
	width: 100%;
}

/* ID */
#url,
#url-result {
	width: 100%;
}