@keyframes marquee {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes zoom {
	from {
		opacity: 0;
		transform: scale(0);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

.img-modal {
	cursor: pointer;
	transition-duration: 0.25s;
}

.img-modal:hover {
	opacity: 0.75;
}

.marquee {
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-name: marquee;
	animation-timing-function: linear;
}

.marquee:hover {
	animation-play-state: paused;
}

.modal {
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.modal-img {
	animation-name: zoom;
	animation-duration: 0.25s;
	height: 100%;
	object-fit: contain;
	object-position: center;
	padding: 3.125%;
	width: 100%;
}

@media screen and (max-width: 800px) {
	.modal-img {
		padding: 0;
	}
}