@import url(/css/font.css);
@import url(/css/form.css);
@import url(/css/tree.css);
@import url(/css/visualizer.css);
@import url(/css/wiki.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* Initialization */
* {
	box-sizing: border-box;
	font-family: source-han-sans, sans-serif;
	image-rendering: pixelated;
	margin: 0;
	padding: 0;
}

/* HTML */
@media (prefers-color-scheme: dark) {
	a {
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	a {
		color: black;
	}
}

audio {
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #202020;
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: #f3f3f3;
		color: black;
	}
}

footer {
	font-size: 1.2rem;
	text-align: center;
}

header {
	align-content: center;
	align-items: center;
	background-color: #0078d4;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: space-between;
	padding: 20px 60px;
	white-space: nowrap;
}

@media (prefers-color-scheme: light) {
	header {
		color: white;
	}
}

@media screen and (max-width: 1200px) {
	header {
		align-items: flex-start;
		flex-direction: column;
		gap: 0.5rem;
	}
}

@media screen and (max-width: 800px) {
	header {
		padding: 20px 20px;
	}
}

@media (prefers-color-scheme: light) {
	header a {
		color: white;
	}
}

header h1::selection,
header h1 ::selection {
	background-color: white;
	color: black;
}

header ul {
	padding: 0;
}

iframe {
	border: none;
	height: 100%;
	width: 100%;
}

header>nav {
	overflow: hidden;
	width: 50vw;
}

@media screen and (max-width: 1200px) {
	header>nav {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	header>nav {
		width: 100%;
	}
}

header>nav>ul {
	align-content: center;
	align-items: baseline;
	display: flex;
	font-size: 1.5rem;
	justify-content: space-between;
	list-style-type: none;
}

@media screen and (max-width: 800px) {
	header>nav>ul {
		font-size: 1rem;
	}
}

header>nav>ul a {
	text-decoration: none;
}

header>nav>ul>li>a::selection {
	background-color: white;
	color: black;
}

@media (prefers-color-scheme: light) {
	header>nav nav a {
		color: black;
	}
}

header>nav nav {
	border-radius: 10px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
	opacity: 0;
	overflow: hidden;
	position: absolute;
	transition-duration: 0.25s;
	visibility: hidden;
}

header>nav nav ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
	list-style-type: none;
	overflow: hidden;
	padding: 20px;
}

@media (prefers-color-scheme: dark) {
	header>nav nav {
		background-color: #323232;
	}
}

@media (prefers-color-scheme: light) {
	header>nav nav {
		background-color: #f6f6f6;
	}
}

img {
	width: 100%;
}

li:hover nav {
	opacity: 1;
	visibility: visible;
}

ul {
	padding-left: 2.5em;
}

video {
	width: 100%;
}

/* Class */
.a-button {
	border-radius: 10px;
}

.logo {
	align-content: center;
	align-items: center;
	display: flex;
	gap: 20px;
}

.logo img {
	height: 4.5em;
}

.logo img::selection {
	background-color: white;
	color: black;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

@media (prefers-color-scheme: dark) {
	.box {
		background-color: #2c2c2c;
	}
}

@media (prefers-color-scheme: light) {
	.box {
		background-color: #f9f9f9;
	}
}

.box {
	border-radius: 10px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
}

.box img {
	border-radius: 10px;
}

.box h2 img {
	vertical-align: text-bottom;
	width: auto;
}

.justify-content-center {
	justify-content: center;
}

.grid-column-1-span-1 {
	grid-column: 1 / span 1;
}

.grid-column-1-span-2 {
	grid-column: 1 / span 2;
}

.grid-column-2-span-2 {
	grid-column: 2 / span 2;
}

.grid-column-3-span-1 {
	grid-column: 3 / span 1;
}

.grid-column-1-span-3 {
	grid-column: 1 / span 3;
}

.grid-row-1-span-2 {
	grid-row: 1 / span 2;
}

.grid-row-1-span-5 {
	grid-row: 1 / span 5;
}

@media screen and (max-width: 800px) {
	.wrapper {
		grid-template-columns: auto;
	}

	.grid-column-1-span-1,
	.grid-column-1-span-2,
	.grid-column-2-span-2,
	.grid-column-3-span-1,
	.grid-column-1-span-3 {
		grid-column: auto;
	}

	.grid-row-1-span-2,
	.grid-row-1-span-5 {
		grid-row: auto;
	}
}

.format-url {
	display: flex;
	gap: 10px;
}