/* ID */
#visualizer-step-forward {
	background-image: url("/img/step-forward.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#visualizer-intensity {
	background-image: url("/img/intensity.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#visualizer-desperation {
	background-image: url("/img/desperation.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#visualizer-determination {
	background-image: url("/img/determination.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#visualizer-optimism {
	background-image: url("/img/optimism.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

/* Square visualizer */
.visualizer {
	align-items: flex-end;
	align-content: flex-end;
	aspect-ratio: 16 / 9;
	background-color: black;
	display: flex;
	gap: 2px;
	overflow: hidden;
	padding: 20px;
}

.box .visualizer {
	border-radius: 10px;
}

.visualizer-bar {
	background-color: white;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
	width: 100%;
}