table {
	border-collapse: collapse;
}

th,
td {
	border-style: solid;
	border-width: 1px;
}

.character-property {
	text-align: center;
	white-space: nowrap;
}

.group-img {
	width: 4rem;
}

.td-none {
	border-style: none;
}